<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated epc -->
      <package
            uri="http://www.bg.com.tr/microarc/epc/1.0.0.0"
            class="bg.microarc.epc.EpcPackage"
            genModel="model/epc.genmodel"/>
   </extension>

</plugin>
