<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bmc -->
      <package
            uri="http://www.bg.com.tr/microarc/bmc/1.0.0.0"
            class="bg.microarc.bmc.BmcPackage"
            genModel="model/bmc.genmodel"/>
   </extension>

</plugin>
